.layouts.header {
  width: 1020px;
  height: 50px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .header__title {
    margin: 0;
    padding: 0;

    font-size: 35px;
    line-height: 50px;

    a {
      color: #eee;
      text-decoration: none;
    }
  }

  .header__pager {

    %pager__base {
      width: 100px;
      height: 37px;
      margin: 6px 0;

      color: #eee;
      font-size: 18px;

      background: transparent;
      border: 1px solid #eee;
    }

    input {
      @extend %pager__base;
      width: 250px;
      height: 33px;
      padding: 1px 10px;
    }

    select {
      @extend %pager__base;
      width: 125px;
      border-radius: 5px 0 0 5px;
      border-right: none;
    }

    button {
      @extend %pager__base;
      border-radius: 0 5px 5px 0;
      border-left: none;
    }
  }

  .header__links {
    width: 300px;
    overflow: hidden;

    .links__link {
      width: 100px;
      margin: 6px 4px;
      padding: 0 10px;
      display: block;
      float: left;

      color: #eee;
      font-size: 13px;
      font-weight: bold;
      line-height: 35px;
      text-align: center;
      text-decoration: none;

      border: #eee 1px solid;
      border-radius: 5px;

      &:hover {
        color: #333;
        background-color: #eee;
      }
    }
  }
}
