.messages {
  &.show {
    .show__header {

    }

    .show__content {
      $sidebar-width: 300px;
      $main-width:    1020px - $sidebar-width;

      overflow: hidden;

      .content__main {
        width: $main-width;
        float: left;

        .main__messages {
          margin:  0 20px;
          padding: 0;

          .messages__message {
            margin: 20px 0;
            font-size: 15px;
            overflow: hidden;
            border-radius: 5px;
            word-wrap: break-word;

            @keyframes messages__message---animation {
              0% {
                background: #bbf;
                box-shadow: 0 0 10px #bbf;
              }
            }

            &.messages__message--newly {
              animation: messages__message---animation 2s ease;
            }

            .message__user-icon {
              width:  48px;
              height: 48px;
              float: left;

              background: #eee;
              background-size: cover;
              border-radius: 5px;
            }

            .message__content {
              width: $main-width - 100px;
              float: right;

              .content__header {
                overflow: hidden;

                .header__user-name {
                  font-weight: bold;
                  margin-right: 5px;
                  float: left;
                }

                .header__date, .header__channel {
                  color: #aaa;
                  font-size: 12px;
                  text-decoration: none;
                  margin-right: 5px;
                }
              }

              .content__attachments {
                .attachments__attachment {
                  width: $main-width - 120px;
                  margin: 5px 0;
                  padding-left: 10px;

                  border-left: 5px solid;

                  .attachment__title {
                    font-weight: bold;
                  }

                  .attachment__author {
                    overflow: hidden;
                    line-height: 15px;

                    .author__icon {
                      width: 15px;
                      height: 15px;
                      margin-right: 5px;

                      background: #eee;
                      background-size: cover;
                      border-radius: 5px;

                      display: inline-block;
                      float: left;
                    }
                  }



                  .attachment__image {
                    width: 128px;
                    height: 128px;
                    background-size: cover;
                  }

                  .attachment__fields {
                    overflow: hidden;

                    .fields__field {
                      width: 100%;
                      margin: 10px 10px 10px 0;
                      float: left;

                      &.fields__field--shortly {
                        width: 45%;
                      }

                      .field__title {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .content__sidebar {
        width: $sidebar-width;
        float: right;

        .sidebar__title {
          font-size: 18px;
          margin: 0;
        }

        .sidebar__keywords {
          padding: 0;
          margin: 5px 0;
          overflow: hidden;

          .keywords__keyword {
            margin: 2px 2px 2px 0;
            float: left;

            font-size: 12px;
            background: #eee;
            border: solid 1px #ddd;
            border-radius: 5px;

            &:hover {
              background: #fafafa;
            }

            a {
              display: block;
              padding: 1px 8px;

              color: #333;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
